@import '../../../styles/globals/_variables';

.filter {
    padding: 0.5em;

  &--active {
    color: $green;
  }

  &--inactive {
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
  }
}